/* detalles.css */
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.detalles-pedido h2, .detalles-pedido h4 {
    color: #F99AAA;
    font-weight: bold;
    margin-bottom: 20px;
}

.detalles-pedido .detalle-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.detalles-pedido .detalle-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F99AAA;
    padding-bottom: 5px;
}

.detalles-pedido .tabla-flex {
    display: flex;
    flex-direction: column;
    border: 1px solid #F99AAA;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

.detalles-pedido .tabla-header {
    display: flex;
    background-color: #F99AAA;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.detalles-pedido .tabla-row {
    display: flex;
    border-top: 1px solid #F99AAA;
    background-color: #fff;
    padding: 10px;
}

.detalles-pedido .tabla-row:nth-child(even) {
    background-color: #FEE9EC;
}


/*Diseño del paginador*/
.pagination li a {
    font-size: 12px; /* Ajusta el tamaño del texto */
    padding: 5px 10px; /* Reduce el padding */
}

.pagination li {
    margin: 0 2px; /* Reduce el espacio entre los elementos */
}

.pagination li a:hover {
    background-color: #f0f0f0; /* Estilo al pasar el mouse */
}

.pagination .page-link[aria-hidden="true"] {
    font-size: 12px; /* Reduce solo las flechas */
    padding: 3px 8px; /* Reduce el espacio interno de las flechas */
}

.pagination .page-item.disabled .page-link[aria-hidden="true"] {
    opacity: 0.5; /* Opcional: estilo más tenue para flechas deshabilitadas */
}

