
h1.Titulo1{
    color: #E57D90;
    font-size: 50px;
}

h1.Titulo2{
    color: #E57D90;
    font-style: italic;
}

.row{
    text-align: center;
}

.container2{
    height: 100vh;
    width: 60%;
    margin: auto;
    text-align: center;

}

.cuadradito{
    height: 30vh;
    width: 100%;
    background-color: #FFCDD4;
    margin: auto;
    border-radius: 20%;
    border: solid 2px;
    border-color: #BE5A8C;
}

.cuadradito-solo{
    height: 30vh;
    width: 50%;
    background-color: #FFCDD4;
    margin: auto;
    border-radius: 20%;
    border: solid 2px;
    border-color: #BE5A8C;
}

.btn-div{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 90%;
}

.btn-gest{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 250px;
    padding-top: 20px;
    background-color: #F6B2DB;
    border: solid 2px;
    border-color: #BE5A8C ;
    text-align: center;
    padding: 0%;
}

.btn-gest:hover{
    background-color: #BE5A8C;
    border-color: #F6B2DB;
    color:#F6B2DB;
}

.p-btn {
    margin: 0; /* Elimina cualquier margen adicional en el párrafo */
    font-style: italic;
    font-size: 25px;
    text-align: center;
}

.btn-agregprenda {
    margin: auto;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 40px;
    width: 280px;
    background-color: #8A226F;
    border: solid 2px;
    border-color: #FFCDD4;
    color: #FFCDD4;
    text-align: center; /* Asegura que el texto esté centrado */
    padding: 0; /* Elimina cualquier relleno que pueda descentrar el texto */
}

.btn-agregprenda:hover{
    background-color: #FFCDD4;
    border-color: #8A226F;
    color:#8A226F;
}
 
a {
    color: black; /* Color de texto en estado normal */
    text-decoration: none; /* Sin subrayado */
}

a:visited {
    color: black; /* Color después de hacer clic */
}

a:hover,
a:active {
    color: black; /* Color cuando pasas el cursor o haces clic */
}

.modal-header{
    background-color: #F99AAA;
}

.modal-body{
    background-color: #FFCDD4;
}

h1.Titulomodal{
    color: #FFE0E6;
    font-style: italic;
}

.h3-modal{
    color: #BE5A8C;
}

.btn-modal-sub {
    margin: auto;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 40px;
    width: 280px;
    background-color: #BE5A8C;
    border: solid 2px;
    border-color: #F99AAA;
    color: #FFCDD4;
    text-align: center; /* Asegura que el texto esté centrado */
    padding: 0; /* Elimina cualquier relleno que pueda descentrar el texto */
}

.btn-modal-sub:hover{
    background-color: #F99AAA;
    color: #b9437e;
}